@import "_nullstyle";
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body{
    background-color: black;
    position: absolute;
}

.header{
    display: flex;
    justify-content:space-around;
    width: 100%;
    height: 100px;
    position: fixed;
    z-index: 10;
    background-color: white;
    a{
        color: black;
    }
    font-family: 'Ubuntu', sans-serif;
}

.logo{
    align-self: center;
    display: flex;
    img{
        max-width: 70px;
        animation: logo-scale 2s infinite;
    }
    h1{
        font-size: 30px;
        font-weight: bold;
        margin: 0 0 0 15px;
        align-self: center;
    }
}

@keyframes logo-scale{
    0%{
        transform: scale(1);
    }

    50%{
        transform: scale(1.2);
    }

    100%{
        transform: scale(1);
    }

}


.nav{
    display: flex;
    font-size: 27px;
    align-self: center;
    margin: 0;
    li{
        margin: 0 80px 0 0;
        &:last-child{
            margin: 0;
        }
    }
    a{
        transition: 1s;
        &:hover{
            transition: 1s;
            text-decoration: underline;
        }
    }

}

@media (max-width:1200px){
    .header{
        max-width: 100%;
    }
}
@media (max-width:992px){
    .header{
        max-width: 100%;
    }
}
@media (max-width:850px){
    .header{
        max-width: 100%;
    }
}

@media (max-width:806px){
    .header{
        max-width: 100%;
        justify-content: center;
        padding: 20px 0;
    }
    .logo{
        display: none;
    }
    
}

.top-title-glavn{
    margin: 170 0 70px 0;
    font-size: 37px;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    color: white;
}

.top-glavn{
    color: white;
    margin: 70px 0 0 0;
    font-family: 'Ubuntu', sans-serif;
    border-top: 4px solid white;
    border-bottom: 4px solid white;
    border-radius: 20px;
    padding: 30px;
    img{
        max-width: 100%;
        height: 300px;
        align-self: center;
        animation: glavn-scale 0.7s
    }
    p{
        font-size: 29px;
        line-height: 60px;
        text-align: justify;
        align-self: center;
        animation: glavn-scale 0.7s
    }
}


.bot-title-glavn{
    margin: 70 0 70px 0;
    font-size: 37px;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    color: white;
}

.bot-glavn{
    color: white;
    margin: 70px 0 0 0;
    font-family: 'Ubuntu', sans-serif;
    border-top: 4px solid white;
    border-bottom: 4px solid white;
    border-radius: 20px;
    padding: 30px;
    img{
        max-width: 100%;
        height: 300px;
        align-self: center;
        animation: glavn-scale 0.7s
    }
    p{
        font-size: 29px;
        line-height: 60px;
        text-align: justify;
        align-self: center;
        animation: glavn-scale 0.7s
    }
}

@keyframes glavn-scale{
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}

.footer{
    color: white;
    text-align: center;
    font-weight: 900;
    font-size: 17px;
    padding: 50px 0 10px 0;
}

.title-service{
    margin: 170px 0 0 0;
    text-align: center;
    color: white;
    font-size: 37px;
    
}
.service-menu{
    margin: 100px 0 0 0;
    
}

.service-menu-img{
    width: 100%;
    border-radius: 5px;
}

.service-menu-title {
    text-align: center;
    margin: 7px 0 0 0;
    font-size: 20px;
}
.service-menu-text {
    margin: 15px 0 0 0;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    font-weight:1000;
    flex: 1 1;
}
.service-menu-buttom {
    margin: 0 30px 20px 30px;
    background-color: black;
    height: 40px;
    border-radius: 5px;
    a{
        color: white;
        font-size: 20px;
        font-weight: 400;
    }
    &:hover{
        box-shadow: 0px 0px 15px 10px black;
        background-color: white;
        a{
            color: black;
        }
    }
}
.service-icons{
    display: flex;
    flex-direction: column;
    background-color: white;
    max-width: 300px;
    min-height: 450px;
    margin: 0 auto;
    border-radius: 5px;
    font-family: 'Ubuntu', sans-serif;
    transition: 0.6s;
    &:hover{
        transform: matrix(1.1, 0, 0, 1.1, 0, -20);
    }
}


// .bot-title-glavn{
//     margin: 0 0 70px 0;
//     font-size: 37px;
//     text-align: center;
// }
// .bot-block-glavn{
//     display: flex;
//     flex-wrap: wrap;
//     padding: 30px;
//     border-top: 4px solid white;
//     border-bottom: 4px solid white;
//     border-radius: 20px;
//     img{
//         max-width: 500px;
//         height: 300px;
//     }
//     p{
//         font-size: 29px;
//         line-height: 60px;
//         text-align: justify;
//         align-self: center;
//         margin: 0 100px 0 0;
//         flex: 1 1 50%;
//     }
// }